.list {
    width: 1536px;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px 0;
    margin: 0 auto;
}

.listItem {
    background-color: #b4b4b4;
    border-radius: 8px;
    overflow: hidden;
    width: 360px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
    position: relative;
    border: 2px #dcdcdc solid;
}

.listItem:hover {
    transform: scale(1.02);
}

.link {
    color: inherit;
}

.image {
    width: 356px;
    height: 535px;
}

.title {
    font-size: 16px;
    font-weight: bold;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.rating {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 99;
    background-color: #363636;
    color: #dcdcdc;
    border-radius: 8px;
    font-size: 16px;
    border: 2px #dcdcdc solid;
    padding: 8px 12px;
    margin-bottom: 10px;
}

.alt {
    width: 356px;
    height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dcdcdc;
    background-color: #cdcdcd; 
    color: #2c2c2c;
    font-size: 16px;
}